<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IMAS;User ID=sa; Password=sa;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />-->
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=Home-Server,49458\SQLEXPRESS;Initial Catalog=IMAS;User ID=sa; Password=sa;MultipleActiveResultSets=true; " providerName="System.Data.SqlClient" />-->
  <!--<add name="ZigmaWebConnectionString" connectionString="Data Source=78.46.172.158,1433\sqlexpress;Initial Catalog=IMAS;Persist Security Info=True;User ID=sa;Password=38dfgD*#4cPQ;Application Name=IMAS;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>-->
  <!--<add name="IMASConnectionString" connectionString="data source=.\sqlexpress;initial catalog=IMAS;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="IMASConnectionString" connectionString="Data Source=46.4.178.189\sqlexpress;Initial Catalog=IMAS;Persist Security Info=True;User ID=sa;Password=IMAS@123456;Application Name=IMAS;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>
</connectionStrings>
