
<div class="portlet light data-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark ">تعداد مشاهده آگهی</span>
            <span class="caption-helper">(هفتگی)</span>
        </div>
    </div>
    <div class="portlet-body">
        <div id="site_statistics_content" class="display-none display-block">
            <div id="advertismentVisitChart" class="chart chart-div chart-div-element"></div>
        </div>
    </div>
</div>
