@{
    ViewBag.Title = "تماس با ما";
}

<div class="row text-align-justify">
    <div class="col-lg-12">
        <div id="introduction" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    تلفن تماس
                </div>
            </div>
            <div class="portlet-body content-text">
                <a href="tel:09120120520">09120120520</a>
            </div>
        </div>
        <div id="telegram-channel" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    کانال تلگرام
                </div>
            </div>
            <div class="portlet-body content-text">
                <a href="https://t.me/CNCMACHINES">https://t.me/CNCMACHINES</a>
            </div>
        </div>
        <div id="telegram-group" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                     تلگرام
                </div>
            </div>
            <div class="portlet-body content-text">
                <a href="https://t.me/cnctaha">https://t.me/cnctaha</a>
            </div>
        </div>
        <div id="user-account" class="portlet content-portlet">
            <div class="portlet-title">
                <div class="caption">
                    ایمیل
                </div>
            </div>
            <div class="portlet-body content-text">
                <a href="mailto:info@tahacnc.com">info@tahacnc.com</a>
            </div>
        </div>       
    </div>
</div>

@section PageHead {
    <div class="page-head">
        <div class="container">
            <div class="page-title">
                <h1>
                    <span>تماس با ما</span>
                </h1>
            </div>
        </div>
    </div>
}

@section head {
    <meta name="description" content="معرفی  طاها سی ان سی" />
    <style>
        .content-portlet {
            box-shadow: none;
            margin-bottom: 40px;
        }

        .intro-titles h4 {
            margin-bottom: 20px;
        }

        .img-box {
            padding: 20px;
        }
    </style>
}
