<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="IMASConnectionString" connectionString="data source=.\sqlexpress;initial catalog=IMAS;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="IMASConnectionString" connectionString="Data Source=46.4.178.189\sqlexpress;Initial Catalog=IMAS;Persist Security Info=True;User ID=sa;Password=IMAS@123456;Application Name=IMAS;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient"/>
</connectionStrings>
