<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="string-extensions.js"></script>
    <script src="amount-auto-formatter.js"></script>
    <script src="JavaScript.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
 
</head>
<body>
    <form id="form" method="post" action="">
        <p>
            <label for="amount">Enter amount</label>
            <div class="flex">
                <span class="currency">$</span>
                <input id="amount" name="amount" type="text" maxlength="15" />
            </div>
        </p>
    </form>
</body>
</html>