@{
}
<div class="btn-group">
    <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-plus"></i>&nbsp;
        <span class="hidden-sm hidden-xs">دسترسی سریع&nbsp;</span>&nbsp;
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/user/advertisment/add/?machinary=machinery" target="_blank">
                <i class="icon-paper-plane"></i> ارسال آگهی عادی
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="/profile/@User.UserId" target="_blank">
                <i class="icon-eye"></i> مشاهده پروفایل
            </a>
        </li>
    </ul>
</div>
